---
platform: linux

image_resource:
  type: registry-image
  source:
    repository: cfbuildpacks/ci

inputs:
- name: java-buildpack

outputs:
- name: built-buildpack

run:
  path: java-buildpack/ci/tasks/build-buildpack-for-tests/run.sh
